JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=30m

FINNHUB_API_KEY=your-finnhub-api-key
FINNHUB_BASE_URL=https://finnhub.io/api/v1

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=<your_machine_name>
DATABASE_PASSWORD=
DATABASE_DATABASE=b

NODE_ENV=development